<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<%- include('./elements/head.ejs') %>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">


		<!-- Login Modal -->
		<%- include('./elements/login.ejs') %>

		<!-- Top Bar============================================= -->
		<%- include('./elements/topbar.ejs') %>

		<!-- Header============================================= -->
		<%- include('./elements/header.ejs') %>
		<!-- #header end -->

		<!-- Slider============================================= -->
		<%- body %>
		<!-- #content end -->

		<!-- Footer============================================= -->
		<%- include('./elements/footer.ejs') %>
		<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="bi-arrow-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/frontend/js/plugins.min.js"></script>
	<script src="/frontend/js/functions.bundle.js"></script>

</body>

</html>