<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./elements/head.ejs') %>
</head>
<body>
    <div class="page-wrapper">
        <%- include('./elements/header.ejs') %>
        

        <main class="main">
            <%- body%>

        </main><!-- End .main -->


        <%- include('./elements/footer.ejs') %>
    </div><!-- End .page-wrapper -->

    
    <%- include('./elements/scripts.ejs') %>
</body>
</html>