<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./elements/head.ejs');%>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div>

      <!-- Navbar -->
      <%- include('./elements/navbar.ejs') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('./elements/sidebar.ejs')%>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <%-body%>
                        <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
            <!-- /.content-wrapper -->

            <%- include('./elements/footer.ejs') %>

              <!-- Control Sidebar -->
              <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
              </aside>
              <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->


    <%- include('./elements/scripts.ejs') %>

  </body>

</html>