

<div class="info-boxes-container">
    <div class="container">
        <div class="info-box">
            <i class="icon-shipping"></i>

            <div class="info-box-content">
                <h4>FREE SHIPPING & RETURN</h4>
                <p>Free shipping on all orders over $99.</p>
            </div><!-- End .info-box-content -->
        </div><!-- End .info-box -->

        <div class="info-box">
            <i class="icon-us-dollar"></i>

            <div class="info-box-content">
                <h4>MONEY BACK GUARANTEE</h4>
                <p>100% money back guarantee</p>
            </div><!-- End .info-box-content -->
        </div><!-- End .info-box -->

        <div class="info-box">
            <i class="icon-support"></i>

            <div class="info-box-content">
                <h4>ONLINE SUPPORT 24/7</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div><!-- End .info-box-content -->
        </div><!-- End .info-box -->
    </div><!-- End .container -->
</div><!-- End .info-boxes-container -->

<div class="home-product-tabs">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="featured-products-tab" data-toggle="tab" href="#featured-products" role="tab" aria-controls="featured-products" aria-selected="true">Featured Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="latest-products-tab" data-toggle="tab" href="#latest-products" role="tab" aria-controls="latest-products" aria-selected="false">Latest Products</a>
            </li>
        </ul>
    </div><!-- End .container -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="featured-products" role="tabpanel" aria-labelledby="featured-products-tab">
            <div class="container">
                <div class="tab-products-carousel owl-carousel owl-theme">
                    <% specials.forEach(special => { %>
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="/<%= special.slug%>" class="product-image">
                                    <img src="/uploads/products/<%= special.image%>" alt="product">
                                </a>
                                <a href="/frontend/ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
                            </figure>
                            <div class="product-details">
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <h2 class="product-title">
                                    <a href="/<%= special.slug%>"><%= special.name%></a>
                                </h2>
                                <div class="price-box">
                                    <!-- <span class="old-price"><%= special.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span> -->
                                    <span class="product-price"><%= special.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                </div><!-- End .price-box -->
    
                                <div class="product-action">
                                    <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                                        <span>Add to Wishlist</span>
                                    </a>
    
                                    <a href="javascript:handleAddCart('<%= special._id%>','<%= special.price%>', '<%= special.name%>', '<%= special.image%>')" class="paction add-cart" title="Add to Cart">
                                        <span>Add to Cart</span>
                                    </a>
    
                                    <a href="#" class="paction add-compare" title="Add to Compare">
                                        <span>Add to Compare</span>
                                    </a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                    <% }) %>
                </div><!-- End .products-carousel -->
            </div><!-- End .container -->
        </div><!-- End .tab-pane -->

        <div class="tab-pane fade" id="latest-products" role="tabpanel" aria-labelledby="latest-products-tab">
            <div class="container">
                <div class="tab-products-carousel owl-carousel owl-theme">
                    <% news.forEach(e => { %>
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="/<%= e.slug %>" class="product-image">
                                    <img src="/uploads/products/<%= e.image %>" alt="product">
                                </a>
                                <a href="/frontend/ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
                                <span class="product-label label-sale">-<%= e.discount %>%</span>
                                <span class="product-label label-hot">New</span>
                            </figure>
                            <div class="product-details">
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <h2 class="product-title">
                                    <a href="/<%= e.slug %>"><%= e.name %></a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price"><%= e.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                    <span class="product-price"><%= e.price_discount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                </div><!-- End .price-box -->
    
                                <div class="product-action">
                                    <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                                        <span>Add to Wishlist</span>
                                    </a>
                                    
                                    <a href="javascript:handleAddCart('<%= e._id%>','<%= e.price%>', '<%= e.name%>', '<%= e.image%>')" class="paction add-cart" title="Add to Cart">
                                        <span>Add to Cart</span>
                                    </a>
    
                                    <a href="#" class="paction add-compare" title="Add to Compare">
                                        <span>Add to Compare</span>
                                    </a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                    <% }) %>
                        
                </div><!-- End .products-carousel -->
            </div><!-- End .container -->
        </div><!-- End .tab-pane -->
    </div><!-- End .tab-content -->
</div><!-- End .home-product-tabs -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <i class="icon-star"></i>

                <div class="feature-box-content">
                    <h3>Dedicated Service</h3>
                    <%- settings.service %>
                    <a href="#" class="btn btn-sm btn-outline-dark">Get in touch</a>
                </div><!-- End .feature-box-content -->
            </div><!-- End .feature-box -->
        </div><!-- End .col-md-4 -->
        
        <div class="col-md-4">
            <div class="feature-box">
                <i class="icon-reply"></i>

                <div class="feature-box-content">
                    <h3>Free returns</h3>
                    <%- settings.return %>
                    <a href="#" class="btn btn-sm btn-outline-dark">Return Policy</a>
                </div><!-- End .feature-box-content -->
            </div><!-- End .feature-box -->
        </div><!-- End .col-md-4 -->

        <div class="col-md-4">
            <div class="feature-box">
                <i class="icon-paper-plane"></i>

                <div class="feature-box-content">
                    <h3>international shipping</h3>
                    <%- settings.shipping %>
                    <a href="#" class="btn btn-sm btn-outline-dark">Learn More</a>
                </div><!-- End .feature-box-content -->
            </div><!-- End .feature-box -->
        </div><!-- End .col-md-4 -->
    </div><!-- End .row -->
</div><!-- End .container -->

<div class="mb-1"></div><!-- margin -->

<div class="promo-section" style="background-image: url(/frontend/assets/images/promo-bg.jpg)">
    <div class="container">
        <h3>the perfect gift</h3>
        <h4>Check off your list with our best gifts</h4>
        <a href="#" class="btn btn-primary">Shop Now</a>
    </div><!-- End .container -->
</div><!-- End .promo-section -->

<div class="partners-container">
    <div class="container">
        <div class="partners-carousel owl-carousel owl-theme">
            <% brands.forEach(brand => { %>
                <a href="#" class="partner">
                    <img src="/uploads/brands/<%= brand.image %>" alt="logo <%= brand.name %>">
                </a>
            <% }) %>   
        </div><!-- End .partners-carousel -->
    </div><!-- End .container -->
</div><!-- End .partners-container -->



<div class="mb-6"></div><!-- margin -->