<section id="content">
    <div class="content-wrap">

        <div class="container">
            <!-- Featured Carousel
            ============================================= -->
            <div class="fancy-title title-border mt-4 title-center">
                <h4>Weekly Product Special For You</h4>
            </div>

            <div id="oc-products" class="owl-carousel products-carousel carousel-widget" data-loop="true" data-margin="20" data-autoplay="5000" data-nav="true" data-pagi="false">
                <!-- Shop Item 5
                ============================================= -->
                <% specials.forEach(special => { %>
                    <div class="oc-item">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="/uploads/products/<%= special.image%>" alt="T-shirts"></a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                        data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i
                                                class="bi-bag-plus"></i></a>
                                        <a href="/frontend/demos/shop/ajax/shop-item.html" class="btn btn-dark"
                                            data-lightbox="ajax"><i class="bi-eye"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
    
                            <div class="product-desc">
                                <div class="product-title mb-1">
                                    <h3><a href="#"><%= special.name%></a></h3>
                                </div>
                                <div class="product-price font-primary"><ins>$<%= special.price%></ins></div>
                                <div class="product-rating">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <!-- New Arrivals Men
        ============================================= -->
        <div class="container">

            <div class="fancy-title title-border mt-4 mb-4 title-center">
                <h4>New Arrivals: Men</h4>
            </div>

            <div class="row col-mb-30">
                <!-- Shop Item 12
                ============================================= -->
                <% news.forEach(e => { %>
                    <div class="col-lg-2 col-md-3 col-6 px-2">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="/uploads/products/<%= e.image %>" alt="Image 6"></a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn"
                                        data-hover-speed="400">
                                        <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                        <a href="/frontend/demos/shop/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i
                                                class="bi-eye"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title mb-1">
                                    <h3><a href="#"><%= e.name%></a></h3>
                                </div>
                                <div class="product-price font-primary"><ins>$<%= e.price%></ins></div>
                                <div class="product-rating">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
                    
            </div>

        </div>


        <div class="container">


            <div class="clear"></div>

            <!-- Brands
            ============================================= -->
            <div class="row mt-5">
                <div class="col-12">
                    <div class="fancy-title title-border title-center mb-4">
                        <h4>Brands who give Flat <span class="text-danger">40%</span> Off</h4>
                    </div>

                    <ul class="clients-grid row mb-0 justify-content-center">
                        <% brands.forEach(brand => { %>
                            <li class="grid-item"><a href="#"><img src="/uploads/brands/<%= brand.image %>"
                                alt="Clients"></a></span></li>
                        <% }) %>
                    </ul>
                </div>
            </div>

        </div>

        <div class="clear"></div>

</section>