<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left header-dropdowns">
                <div class="header-dropdown">
                    <a href="#">USD</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="#">EUR</a></li>
                            <li><a href="#">USD</a></li>
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropown -->

                <div class="header-dropdown">
                    <a href="#"><img src="/frontend/assets/images/flags/en.png" alt="England flag">ENGLISH</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="#"><img src="/frontend/assets/images/flags/en.png" alt="England flag">ENGLISH</a></li>
                            <li><a href="#"><img src="/frontend/assets/images/flags/fr.png" alt="France flag">FRENCH</a></li>
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropown -->

                <div class="dropdown compare-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-retweet"></i> Compare (2)
                    </a>

                    <div class="dropdown-menu" >
                        <div class="dropdownmenu-wrapper">
                            <ul class="compare-products">
                                <li class="product">
                                    <a href="#" class="btn-remove" title="Remove Product"><i class="icon-cancel"></i></a>
                                    <h4 class="product-title"><a href="product.html">Lady White Top</a></h4>
                                </li>
                                <li class="product">
                                    <a href="#" class="btn-remove" title="Remove Product"><i class="icon-cancel"></i></a>
                                    <h4 class="product-title"><a href="product.html">Blue Women Shirt</a></h4>
                                </li>
                            </ul>

                            <div class="compare-actions">
                                <a href="#" class="action-link">Clear All</a>
                                <a href="#" class="btn btn-primary">Compare</a>
                            </div>
                        </div><!-- End .dropdownmenu-wrapper -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .dropdown -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <p class="welcome-msg">Default welcome msg! </p>

                <div class="header-dropdown dropdown-expanded">
                    <a href="#">Links</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="my-account.html">MY ACCOUNT </a></li>
                            <li><a href="#">DAILY DEAL</a></li>
                            <li><a href="#">MY WISHLIST </a></li>
                            <li><a href="blog.html">BLOG</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#" class="login-link">LOG IN</a></li>
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler" type="button">
                    <i class="icon-menu"></i>
                </button>
                <div class="header-search">
                    <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search..." required>
                            <div class="select-custom">
                                <select id="cat" name="cat">
                                    <option value="">All Categories</option>
                                    <option value="4">Fashion</option>
                                    <option value="12">- Women</option>
                                    <option value="13">- Men</option>
                                    <option value="66">- Jewellery</option>
                                    <option value="67">- Kids Fashion</option>
                                    <option value="5">Electronics</option>
                                    <option value="21">- Smart TVs</option>
                                    <option value="22">- Cameras</option>
                                    <option value="63">- Games</option>
                                    <option value="7">Home &amp; Garden</option>
                                    <option value="11">Motors</option>
                                    <option value="31">- Cars and Trucks</option>
                                    <option value="32">- Motorcycles &amp; Powersports</option>
                                    <option value="33">- Parts &amp; Accessories</option>
                                    <option value="34">- Boats</option>
                                    <option value="57">- Auto Tools &amp; Supplies</option>
                                </select>
                            </div><!-- End .select-custom -->
                            <button class="btn" type="submit"><i class="icon-magnifier"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div><!-- End .header-left -->

            <div class="header-center">
                <a href="index.html" class="logo">
                    <img src="/uploads/settings/<%= settings.image%>" alt="Porto Logo">
                </a>
            </div><!-- End .headeer-center -->

            <div class="header-right">
                <div class="header-contact">
                    <span>Call us now</span>
                    <a href="tel:#"><strong><%= settings.hotline%></strong></a>
                </div><!-- End .header-contact -->

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <span class="cart-count"><%= miniCart.totalQuantity ? miniCart.totalQuantity : 0 %></span>
                    </a>

                    <div class="dropdown-menu" >
                        <div class="dropdownmenu-wrapper">
                            <div class="dropdown-cart-header">
                                <span><%= miniCart.totalQuantity ? miniCart.totalQuantity : 0 %> Items</span>

                                <a href="/cart/view">View Cart</a>
                            </div><!-- End .dropdown-cart-header -->
                            <% if (miniCart.products.length > 0) { %>
                             <% miniCart.products.forEach(item => { %>
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-details">
                                            <h4 class="product-title">
                                                <a href="/<%= item.productInfo.slug %>"><%= item.productInfo.name %></a>
                                            </h4>
    
                                            <span class="cart-product-info">
                                                <span class="cart-product-qty"><%= item.quantity %></span>
                                                x <%= item.priceAtTime.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) || 0 %>
                                            </span>
                                        </div><!-- End .product-details -->
    
                                        <figure class="product-image-container">
                                            <a href="/<%= item.productInfo.slug %>" class="product-image-cart">
                                                <img src="/uploads/products/<%= item.productInfo.image %>" alt="<%= item.productInfo.name %>">
                                            </a>
                                            <a href="/cart/delete/<%= item.product_id %>" class="btn-remove" title="Remove Product"><i class="icon-cancel"></i></a>
                                        </figure>
                                    </div>
                                </div>
                             <% }) %>
                            <% } %>

                            <div class="dropdown-cart-total">
                                <span>Total</span>

                                <span class="cart-total-price"><%= miniCart.totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) || 0%></span>
                            </div><!-- End .dropdown-cart-total -->
                            

                            <div class="dropdown-cart-action">
                                <a href="/checkout/info" class="btn btn-block">Checkout</a>
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdownmenu-wrapper -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <% menus.forEach(menu => { %>
                        <% if (menu.categories && menu.categories.length > 0) { %>
                            <li>
                                <a href="<%= menu.link%>" class="sf-with-ul"><%= menu.name%></a>
                                <div class="megamenu megamenu-fixed-width">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <ul>
                                                        <% menu.categories.forEach(child => { %>
                                                            <li><a href="/<%= child.slug%>"><%= child.name%></a></li>
                                                        <% })%>	
                                                    </ul>
                                                </div><!-- End .col-lg-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .col-lg-8 -->
                                    </div>
                                </div><!-- End .megamenu -->
                            </li>
                        <% } else { %>
                            <li><a href="<%= menu.link%>"><%= menu.name%></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </nav>
        </div><!-- End .header-bottom -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->