<% let menus = [{
    "name" : 'Menu' ,
    "icon" : "ion ion-bag" ,
    "color" : "small-box bg-info",
    "count" : menu,
    "link" : '/admin/menu'
  },
  { 
    "name": 'Category' ,
    "icon" : "ion ion-stats-bars" ,
    "color" : "small-box bg-success",
    "count" : category,
    "link" : '/admin/category' ,
  },
  { 
    "name": 'Product' ,
    "icon" : "ion ion-person-add" ,
    "color" : "small-box bg-warning",
    "count" : product,
    "link" : '/admin/product' ,
  },
  { 
    "name": 'Slider' ,
    "icon" : "ion ion-pie-graph" ,
    "color" : "small-box bg-danger",
    "count" : slider,
    "link" : '/admin/slider' ,
  },
]%>

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <% menus.forEach( menu => { %>
                <div class="col-lg-3 col-6">
                    <div class="<%= menu.color %>">
                        <div class="inner">
                            <h3><%= menu.count %></h3>
                            <p><%= menu.name %></p>
                        </div>
                        <div class="icon">
                            <i class="<%= menu.icon %>"></i>
                        </div>
                        <a href="<%= menu.link %>" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
</section>
