<% const collection = "discount"; const linkPrefix = ''; const linkThumb = ''; %>
<% const isEditing = item && item._id; %>
<% const formAction = `/admin/${collection}/form`; %> <!-- Tạo biến formAction để tùy chỉnh đường dẫn -->

<div class="card card-info card-outline">
  <form action="<%= formAction %>" method="POST" enctype="multipart/form-data" class="mb-0">
    <input type="hidden" name="id" value="<%= item._id || '' %>" />
    <div class="card-body">
      <h1><%= isEditing ? 'Edit' : 'Add' %> - Form</h1>


      <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label text-sm-right required">Discount Code</label>
        <div class="col-xs-12 col-sm-8">
          <input type="text" id="code-input" name="code" class="form-control form-control-sm" value="<%= item.code || '' %>" required/>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label text-sm-right required">Description</label>
        <div class="col-xs-12 col-sm-8">
          <textarea id="description-input" name="description" class="form-control form-control-sm" required><%= item.description || '' %></textarea>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="discount_type" class="col-sm-2 col-form-label text-sm-right required">Discount Type</label>
        <div class="col-xs-12 col-sm-8">
          <select id="discount_type" name="discount_type" class="custom-select custom-select-sm">
            <option value="novalue">Choose Discount Type</option>
            <option value="percentage" <%= item.discount_type === "percentage" ? "selected" : '' %>>Percentage</option>
            <option value="fixed_amount" <%= item.discount_type === "fixed_amount" ? "selected" : '' %>>Fixed Amount</option>
          </select>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="percentage" class="col-sm-2 col-form-label text-sm-right">Percentage (%)</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" id="percentage-input" name="percentage" class="form-control form-control-sm" value="<%= item.percentage || 0 %>" min="0" max="100"/>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="fixed_amount" class="col-sm-2 col-form-label text-sm-right">Fixed Amount</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" id="fixed-amount-input" name="fixed_amount" class="form-control form-control-sm" value="<%= item.fixed_amount || 0 %>" min="0"/>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="start_date" class="col-sm-2 col-form-label text-sm-right required">Start Date</label>
        <div class="col-xs-12 col-sm-8">
          <input type="date" id="start-date-input" name="start_date" class="form-control form-control-sm" 
          value="<%= item.start_date ? new Date(item.start_date).toISOString().split('T')[0] : '' %>" required/>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="end_date" class="col-sm-2 col-form-label text-sm-right required">End Date</label>
        <div class="col-xs-12 col-sm-8">
          <input type="date" id="end-date-input" name="end_date" class="form-control form-control-sm" 
          value="<%= item.end_date ? new Date(item.end_date).toISOString().split('T')[0] : '' %>" required/>
        </div>
      </div>
      
      
      <div class="form-group row">
        <label for="minimum_order_value" class="col-sm-2 col-form-label text-sm-right required">Minimum Order Value</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" id="minimum-order-value" name="minimum_order_value" class="form-control form-control-sm" value="<%= item.minimum_order_value || 0 %>" min="0" required/>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="maximum_order_value" class="col-sm-2 col-form-label text-sm-right">Maximum Order Value</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" id="maximum-order-value" name="maximum_order_value" class="form-control form-control-sm" value="<%= item.maximum_order_value || 0 %>" min="0" required/>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="usage_limit" class="col-sm-2 col-form-label text-sm-right required">Usage Limit</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" id="usage-limit" name="usage_limit" class="form-control form-control-sm" value="<%= item.usage_limit || 0 %>" min="0" required/>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label text-sm-right">Status</label>
        <div class="col-xs-12 col-sm-8">
          <select id="status" name="status" class="custom-select custom-select-sm">
            <option value="novalue">Choose Status</option>
            <option value="active" <%= item.status === "active" ? "selected" : '' %>>Active</option>
            <option value="inactive" <%= item.status === "inactive" ? "selected" : '' %>>Inactive</option>
          </select>
        </div>
      </div>
      
    </div>
    <div class="card-footer">
      <div class="col-12 col-sm-8 offset-sm-2">
        <button type="submit" class="btn btn-sm btn-success mr-1"><%= isEditing ? "Update" : "Add" %></button>
        <a href="/admin/<%= collection %>" class="btn btn-sm btn-danger mr-1">Cancel</a> <!-- Đường dẫn cancel cũng được tùy biến -->
      </div>
    </div>
  </form>
</div>

<script>
  document.getElementById('image-input').addEventListener('change', function (event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const imageContainer = document.getElementById('imageContainer');
        let imageElement = document.getElementById('imageElement');
        const imagePreview = document.getElementById('image-preview');

        if (imageElement) {
          imageElement.src = e.target.result;
        } else {
          imagePreview.innerHTML = '<img id="imageElement" src="' + e.target.result + '" alt="Image Preview" style="max-width: 100px; max-height: 100px;" />';
          imageContainer.appendChild(imagePreview);
        }

        let deleteButton = document.getElementById('deleteButton');
        if (!deleteButton) {
          deleteButton = document.createElement('button');
          deleteButton.id = 'deleteButton';
          deleteButton.className = 'btn btn-sm btn-danger';
          deleteButton.innerText = 'Delete Image';
          deleteButton.type = 'button';
          imageContainer.appendChild(deleteButton);
          deleteButton.addEventListener('click', function (event) {
            event.preventDefault();
            imageElement.remove();
            deleteButton.remove();
          });
        }
      };
      reader.readAsDataURL(file);
    }
  });

  const deleteButton = document.getElementById('deleteButton');
  if (deleteButton) {
    deleteButton.addEventListener('click', function (event) {
      event.preventDefault();

      const imageElement = document.getElementById('imageElement');
      if (imageElement) {
        imageElement.remove();
      }
      deleteButton.remove();
    });
  }
</script>