<nav aria-label="breadcrumb" class="breadcrumb-nav mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Accessories</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <nav class="toolbox">
                <div class="toolbox-left">
                    <div class="toolbox-item toolbox-sort">
                        <label>Sort By:</label>

                        <div class="select-custom">
                            <select name="orderby" class="form-control">
                                <option value="menu_order" selected="selected">Default sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by newness</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </div><!-- End .select-custom -->

                        <a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set
                                Ascending Direction</span></a>
                    </div><!-- End .toolbox-item -->
                </div><!-- End .toolbox-left -->

                <div class="toolbox-item toolbox-show">
                    <label>Show:</label>

                    <div class="select-custom">
                        <select name="count" class="form-control">
                            <option value="9">9 Products</option>
                            <option value="18">18 Products</option>
                            <option value="27">27 Products</option>
                        </select>
                    </div><!-- End .select-custom -->
                </div><!-- End .toolbox-item -->

                <div class="layout-modes">
                    <a href="category.html" class="layout-btn btn-grid active" title="Grid">
                        <i class="icon-mode-grid"></i>
                    </a>
                    <a href="category-list.html" class="layout-btn btn-list" title="List">
                        <i class="icon-mode-list"></i>
                    </a>
                </div><!-- End .layout-modes -->
            </nav>

            <div class="row row-sm">
                <% products.forEach(product => { %>
                    <div class="col-6 col-md-4">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="/<%= product.slug%>" class="product-image">
                                    <img src="/uploads/products/<%= product.image%>" alt="product">
                                </a>
                                <a href="/frontend/ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
                            </figure>
                            <div class="product-details">
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <h2 class="product-title">
                                    <a href="/<%= product.slug%>"><%= product.name%></a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">$<%= product.price%></span>
                                </div><!-- End .price-box -->
    
                                <div class="product-action">
                                    <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                                        <span>Add to Wishlist</span>
                                    </a>
    
                                    <a href="product.html" class="paction add-cart" title="Add to Cart">
                                        <span>Add to Cart</span>
                                    </a>
    
                                    <a href="#" class="paction add-compare" title="Add to Compare">
                                        <span>Add to Compare</span>
                                    </a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                    </div><!-- End .col-xl-3 -->
                <% }) %>              
            </div><!-- End .row -->

            <nav class="toolbox toolbox-pagination">
                <div class="toolbox-item toolbox-show">
                    <label>Show:</label>

                    <div class="select-custom">
                        <select name="count" class="form-control">
                            <option value="9">9 Products</option>
                            <option value="18">18 Products</option>
                            <option value="27">27 Products</option>
                        </select>
                    </div><!-- End .select-custom -->
                </div><!-- End .toolbox-item -->

                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div><!-- End .col-lg-9 -->

        <aside class="sidebar-shop col-lg-3 order-lg-first">
            <div class="pin-wrapper" style="height: 1384.76px;">
                <div class="sidebar-wrapper" style="border-bottom: 0px none rgb(74, 80, 94); width: 270px;">
                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-1" role="button" aria-expanded="true"
                                aria-controls="widget-body-1">Fashion</a>
                        </h3>

                        <div class="collapse show" id="widget-body-1">
                            <div class="widget-body">
                                <ul class="cat-list">
                                    <li><a href="#">WOMEN</a></li>
                                </ul>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
                                aria-controls="widget-body-2">Price</a>
                        </h3>

                        <div class="collapse show" id="widget-body-2">
                            <div class="widget-body">
                                <form action="#">
                                    <div class="price-slider-wrapper">
                                        <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal">
                                            <div class="noUi-base">
                                                <div class="noUi-connects">
                                                    <div class="noUi-connect"
                                                        style="transform: translate(20%, 0px) scale(0.5, 1);"></div>
                                                </div>
                                                <div class="noUi-origin"
                                                    style="transform: translate(-80%, 0px); z-index: 5;">
                                                    <div class="noUi-handle noUi-handle-lower" data-handle="0"
                                                        tabindex="0" role="slider" aria-orientation="horizontal"
                                                        aria-valuemin="0.0" aria-valuemax="60.0" aria-valuenow="20.0"
                                                        aria-valuetext="200.00"></div>
                                                </div>
                                                <div class="noUi-origin"
                                                    style="transform: translate(-30%, 0px); z-index: 4;">
                                                    <div class="noUi-handle noUi-handle-upper" data-handle="1"
                                                        tabindex="0" role="slider" aria-orientation="horizontal"
                                                        aria-valuemin="30.0" aria-valuemax="100.0" aria-valuenow="70.0"
                                                        aria-valuetext="700.00"></div>
                                                </div>
                                            </div>
                                        </div><!-- End #price-slider -->
                                    </div><!-- End .price-slider-wrapper -->

                                    <div class="filter-price-action">
                                        <button type="submit" class="btn btn-dark">Filter</button>

                                        <div class="filter-price-text">
                                            <span id="filter-price-range">$200.00 - $700.00</span>
                                        </div><!-- End .filter-price-text -->
                                    </div><!-- End .filter-price-action -->
                                </form>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true"
                                aria-controls="widget-body-3">Size</a>
                        </h3>

                        <div class="collapse show" id="widget-body-3">
                            <div class="widget-body">
                                <ul class="config-size-list">
                                    <li class="active"><a href="#">S</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">2XL</a></li>
                                    <li><a href="#">3XL</a></li>
                                </ul>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true"
                                aria-controls="widget-body-4">Brand</a>
                        </h3>

                        <div class="collapse show" id="widget-body-4">
                            <div class="widget-body">
                                <ul class="cat-list">
                                    <% brands.forEach(brand => { %>
                                        <li><a href="#"><%= brand.name%><span>18</span></a></li>
                                    <% }) %>
                                </ul>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true"
                                aria-controls="widget-body-6">Color</a>
                        </h3>

                        <div class="collapse show" id="widget-body-6">
                            <div class="widget-body">
                                <ul class="config-swatch-list">
                                    <li>
                                        <a href="#" style="background-color: #4090d5;"></a>
                                    </li>
                                    <li class="active">
                                        <a href="#" style="background-color: #f5494a;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #fca309;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #11426b;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f0f0f0;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #3fd5c9;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #979c1c;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #7d5a3c;"></a>
                                    </li>
                                </ul>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-featured">
                        <h3 class="widget-title">Featured Proucts</h3>

                        <div class="widget-body">
                            <div class="owl-carousel widget-featured-products owl-loaded owl-drag">
                                <!-- End .featured-col -->

                                <!-- End .featured-col -->
                                <div class="owl-stage-outer owl-height" style="height: 329.6px;">
                                    <div class="owl-stage"
                                        style="transform: translate3d(-677px, 0px, 0px); transition: all 0.25s ease 0s; width: 1356px;">
                                        <div class="owl-item cloned" style="width: 225.9px;">
                                            <div class="featured-col">
                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-1.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Ring</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:80%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$45.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-2.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Headphone</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:20%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="old-price">$60.00</span>
                                                            <span class="product-price">$45.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-3.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Shoes</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:100%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$50.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 225.9px;">
                                            <div class="featured-col">
                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-4.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Watch-Black</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:100%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="old-price">$50.00</span>
                                                            <span class="product-price">$35.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-5.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Watch-Gray</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:60%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$29.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-6.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Hat</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:20%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$40.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 225.9px;">
                                            <div class="featured-col">
                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-1.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Ring</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:80%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$45.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-2.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Headphone</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:20%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="old-price">$60.00</span>
                                                            <span class="product-price">$45.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-3.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Shoes</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:100%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$50.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 225.9px;">
                                            <div class="featured-col">
                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-4.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Watch-Black</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:100%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="old-price">$50.00</span>
                                                            <span class="product-price">$35.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-5.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Watch-Gray</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:60%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$29.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-6.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Hat</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:20%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$40.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 225.9px;">
                                            <div class="featured-col">
                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-1.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Ring</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:80%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$45.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-2.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Headphone</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:20%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="old-price">$60.00</span>
                                                            <span class="product-price">$45.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-3.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Shoes</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:100%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$50.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 225.9px;">
                                            <div class="featured-col">
                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-4.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Watch-Black</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:100%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="old-price">$50.00</span>
                                                            <span class="product-price">$35.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-5.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Watch-Gray</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:60%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$29.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->

                                                <div class="product product-sm">
                                                    <figure class="product-image-container">
                                                        <a href="product.html" class="product-image">
                                                            <img src="assets/images/products/small/product-6.jpg"
                                                                alt="product">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h2 class="product-title">
                                                            <a href="product.html">Hat</a>
                                                        </h2>
                                                        <div class="ratings-container">
                                                            <div class="product-ratings">
                                                                <span class="ratings"
                                                                    style="width:20%"></span><!-- End .ratings -->
                                                            </div><!-- End .product-ratings -->
                                                        </div><!-- End .product-container -->
                                                        <div class="price-box">
                                                            <span class="product-price">$40.00</span>
                                                        </div><!-- End .price-box -->
                                                    </div><!-- End .product-details -->
                                                </div><!-- End .product -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
                                            class="icon-angle-left"></i></button><button type="button"
                                        role="presentation" class="owl-next"><i class="icon-angle-right"></i></button>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </div><!-- End .widget-featured-slider -->
                        </div><!-- End .widget-body -->
                    </div><!-- End .widget -->

                    <div class="widget widget-block">
                        <h3 class="widget-title">Custom HTML Block</h3>
                        <h5>This is a custom sub-title.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mi. </p>
                    </div><!-- End .widget -->
                </div>
            </div><!-- End .sidebar-wrapper -->
        </aside><!-- End .col-lg-3 -->
    </div><!-- End .row -->
</div><!-- End .container -->

<div class="mb-5"></div><!-- margin -->