<% const collection="product" ; const linkPrefix=`/admin/${collection}/` ; const linkThumb='' ; const folderImage = '/products/' %>
<section class="page-title bg-transparent">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <h1><%= category.name %></h1>
                <span>Start Buying your Favourite Theme</span>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= category.name %></li>
                </ol>
            </nav>

        </div>
    </div>
</section><!-- .page-title end -->

<section id="content">
    <div class="content-wrap">
        <div class="container">

            <!-- Shop
            ============================================= -->
            <div id="shop" class="shop row gutter-30">
                <% products.forEach(e => { %>
                <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="/<%= e.slug %>"><img src="/uploads<%= folderImage%><%= e.image%>" alt="Checked Short Dress"></a>
                            <!-- <a href="#"><img src="images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a> -->
                            <!-- <div class="sale-flash badge bg-secondary p-2">Out of Stock</div> 
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-center p-0">
                                    <a href="include/ajax/shop-item.html" class="btn btn-light py-2 w-100 m-0 rounded-0" data-lightbox="ajax" data-hover-animate="fadeInUp" data-hover-animate-out="fadeOutDown" data-hover-speed="400" data-hover-parent=".product">Quick View</a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div> -->
                        </div>
                        <div class="product-desc text-center">
                            <div class="product-title"><h3><a href="#"><%= e.name%></a></h3></div>
                            <div class="product-price"><del>$24.99</del> <ins>$<%= e.price%></ins></div>
                            <a href="#" class="btn btn-sm btn-dark px-3 mt-2"><i class="uil uil-shopping-cart me-1"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <% }) %>

            </div><!-- #shop end -->

        </div>
    </div>
</section><!-- #content end -->